.tabPanel {
    display: block;
}

.centralMeta {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    position: relative;
}

.centralMeta a {
    color: #34465d;
}

.pageName{
    border-bottom: 1px solid #e6ecf5;
    display: block;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
    padding-bottom: 12px;
    text-transform: capitalize;
    width: 100%;
    color: #515365;
    position: relative;
}

.pageName.altPageName {
    padding-top: 10px;
}

.pageName img {
    margin-bottom: -2px;
    height: 15px;
}